<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/12.3/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         cacheResult="false">

    <testsuites>
        <testsuite name="Unit Tests">
            <directory suffix="Test.php">tests/unit</directory>
        </testsuite>
    </testsuites>

    <php>
        <!-- Define any constants or ini settings needed for tests -->
        <const name="WP_TESTS_PHPUNIT_POLYFILLS_PATH" value="vendor/yoast/phpunit-polyfills"/>
    </php>
</phpunit>
